

:root {
  
  width: 100%;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

/* .background-img{
  max-width: 100%;
  
} */

a {
  font-weight: 500;
color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffffc4;
}

body {
  background-image: url("./image/piano.jpg");
  background-size: cover;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  /* button {
    background-color: #f9f9f9;
  } */
}


body{
 
  /* background-color: #3D8361; */
  color: #EEEEEE;
  background-color: #303841;
  
}


.btn{
  background-color: #01011b;
  /* background-color: #3A4750; */
  /* color: #EEEEEE; */
      --bs-btn-border-color: #3A4750;
    }
    .button:focus:not(:focus-visible) {
      outline: 0;
    }
    .btn:hover{
      background-color: #01011b84;
      border-color:#EEEEEE;
  box-shadow: 0 0 0 0.25rem #EEEEEE(13 110 253 / 25%);
}
.btn:focus{
  border-color:#EEEEEE;
  box-shadow: 0 0 0 0.25rem #EEEEEE(13 110 253 / 25%);
}
.form-control:focus{
  border-color:#EEEEEE;
  box-shadow: 0 0 0 0.25rem #EEEEEE(13 110 253 / 25%);
}
.accordion-button:focus{
  border-color:#EEEEEE;
  box-shadow: 0 0 0 0.25rem #EEEEEE(13 110 253 / 25%);
}
.accordion-button:not(.collapsed){
  color: #EEEEEE;
  background-color: #01011b;
}

.shira-button{
  margin-top:  1rem!important;
  /* background-color: #3A4750;
  border: #303841;
  */
}
.shira-button:hover{
  /* background-color:  #303841; */
}

.accordion-button{
 
color: #EEEEEE;
background-color: #01011b;
} 

.shira-head-Accordion{
  /* margin-top: 35px; */
}

.shira-outForm{
  width: 100%;
}

.shira-popup-form{
  direction: rtl;
  
}

.gigs-page{
margin-top: 20px;
}

.out-gigs-list{
  
  margin:  1rem;
}
.gigs-list{
  /* color: #303841; */
  direction: rtl;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.accordion-button:not(.collapsed)::after{
  /* background-image: var(--bs-accordion-btn-background-color#F6C90E); */
  
  
}



.gig-card{
  --bs-card-bg: var(--bs-card-bg);
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  box-shadow: rgba(0, 0, 0, 0.769) 0px 8px 18px;
color: #ffffff;

  /* background-color: #FBFACD; */
  /* background-color: #EEEEEE; */
  padding: 1em;
  /* padding-top: 0%; */
  margin: 1em;
  /* box-shadow:  inset -75px -75px 400px #000; */
  /* background-color: red; */
  position: relative;
}
.card-body{
  /* padding-top: 0%; */
}
#gig-card-plus30{
  /* background-color: #01011b; */
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes example {

  /* 0%   {background-color: #01011b; } */
  50%  {background-color: #F6C90E; }
  
  /* 100% {border: 8px solid black;} */
  
}

h3{
  color: #F6C90E;
  margin: 23px;
}
.form-floating>label{
  color: #303841;
}
.thumbtackImg{
  height: 50px;
  margin-bottom: 1em;
}
.login-title{
  display: flex;
  
}

.header-out{
  /* background-color: #01011b2e; */
  position: fixed;
  /* box-shadow: rgba(0, 0, 0, 0.769) 0px 8px 18px; */
  height: 60px;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-in{
display: flex;
width: 96%;
justify-content: space-between;
align-items: center;
}

.header-out img{
  height: 32px;
  margin: 8px;
}

 a{
  color: #ffffff;
}
a :hover{
  color: #ffffff;
  color: var(--bs-white);
}
.header-link{
  padding: 8px;
}
/* .header-icons {
  padding: 0%;
  height: 45px;
  width: 45px;
} */
.header-table-buttom{
  cursor: pointer;
}
#header-link-true{
  color: #F6C90E;
}

#header-link-false{
  color: #ffffff;
}